.nice-button {
  border: 0;
  padding: 0.5rem 2rem;
  color: #444;
  background: transparent;
  letter-spacing: -0.5px;
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid #999;
  margin: 5px;
  outline: 0;
  border-radius: 3px;
  cursor: default;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  &.primary {
    color:#fff;
    background: $lightblue;
    border-color: $lightblue;

    &:hover {
      background: darken($lightblue, 5);
      border-color: darken($lightblue, 5);
      text-decoration: none;
    }

    &:active {
      background: darken($lightblue, 10);
      border-color: darken($lightblue, 10);
    }
  }

  &:hover {
    background: rgba(0,0,0,0.04);
    text-decoration: none;
  }
  &:active {
    background: rgba(0,0,0,0.1);
  }
  &.pin {
    display: none;

    img {
      margin-right: 2px;
      opacity: 0.8;
    }
  }
  &.small {
    padding: 0.375rem 1.5rem;
    font-size: 0.9rem;
  }
}
.transparent-button {
  display: block;
  padding: 0.25rem 0;
  background: transparent;
  margin: 0;
  border: 0;
  color: $lightblue;
  font-size: 15px;
  outline: 0;
  cursor: pointer;

  &:active {
    color: darken($lightblue, 20);
  }
}