$bgheight: 125px;

.material-header {
	height: $mobilenavsize;
	position: relative;
	background: #fff;
	box-sizing: border-box;
	display: flex;
	box-shadow: $standard-shadow;
	z-index: 2;

	.header-left, .header-right {
		display: flex;
		padding: 0 0.5rem;

		img {
			width: 100%;
		}
		svg {
			margin: auto 0;
		}
	}
	.header-left-sm, .header-right-sm {
		padding: 0 0.25rem;
	}
	.header-left {
		padding-left: 0.75rem;
	}
	.header-right {
		padding-right: 0.75rem;
	}

	.mode {
		width: 42px;
	}

	.header-expand {
		flex: 1;
		overflow: hidden;
	}
	h1 {
		margin: 0;
		font-size: 18px;
		letter-spacing: -0.5px;
		font-weight: 600;
		color: $atblue;
		line-height: 1.2;
		white-space: nowrap;
  	text-overflow: ellipsis;
  	overflow: hidden;
  	padding-top: 9px;

  	&.full-height {
  		padding-top: 0;
  		line-height: $mobilenavsize;
  	}

  	strong {
  		font-weight: 600;
  	}
	}
	h2 {
		margin: 0;
		font-size: 13px;
		color: rgba(#000, 0.7);
		margin: 0;
		font-weight: 600;
		letter-spacing: -0.5px;
		line-height: 1.1;
	}
}

.content {
	overflow: hidden;

	// Safari Fix
	height: 100%;

	.station {
		background: $default-back;
	}

	.station.fancy {
		background: none;
		.scrollwrap .material-header {
			position: -webkit-sticky;
			position: sticky;
			height: $mobilenavsize + 10px;
			background-color: $atblue;
			border-top: 1px solid darken($atblue, 10);
			border-bottom: 1px solid darken($atblue, 10);
			
			h1 {
				color: #fff;
				padding-top: 14px;
			}
			h2 {
				color: #ddd;
			}

			svg {
				fill: #fff;
			}

			.mode svg {
				fill: transparent;
			}
			.mode {
				&.bus svg {
					stroke: #56CCF2;
				}
				&.train svg {
					stroke: #32D074;
				}
				&.ferry svg {
					stroke: #F2994A;
				}
			}
		}
		.scrollable {
			.scrollwrap {
				padding-top: calc(var(--real-height) + 5px);
			}
		}
		.swipe-content {
			background: #eee;
		}
	}
	.scrollable {
		overflow-y: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		overflow-x: hidden;
		will-change: scroll;

		-ms-overflow-style: -ms-autohiding-scrollbar;
		-ms-scroll-rails: railed;

		// div > li {
		// 	position: relative;
		// }
		.scrollwrap {
			padding-top: $navsize;
			box-sizing: border-box;
			position: relative;
		}
		.material-header {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;
		}
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.hidden {
		display: none;
	}
}

.error {
	z-index: 0;
	text-align: center;
	width: 100%;
	letter-spacing: -0.5px;
	font-weight: 600;
	background: $default-back;

	p {
		line-height: 60px;
		margin: 0;
	}

	@media (max-width: 450px) {
		font-size: 15px;
	}
}

// DESKTOP STYLEZ
@media (min-width: 851px) {
	$cap: 800px;
	.content .station {
		background: #eee;

		> .material-header {
			max-width: $cap;
		}
	}
	.swipe-content {
		max-width: $cap;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
		min-height: calc(var(--real-height) - 56px);
		background: $default-back;
	}
}

.colored-trip {
	color: #fff;
	border-bottom: 1px solid rgba(#000, 0.25);

	.main {
		padding: 7px 0 9px 12px;
		display: flex;

		&:active {
			background: rgba(#000, 0.1);
		}
	}
	.bottom {
		height: 0;
		overflow: hidden;
		transition: 250ms ease height;
		background: rgba(#000, 0.15);
		display: flex;

		button {
			flex: 1;
			border: 0;
			background: transparent;
			color: #fff;
			font-weight: 600;
			font-size: 14px;
			outline: 0;

			&:active {
				background: rgba(#000, 0.1);
			}

			svg {
				fill: #fff;
				vertical-align: top;
				margin-right: 7px;
			}
		}
	}
	&.expanded .bottom {
		height: 38px;
	}

	&:first-child {
		border-top: 1px solid rgba(#000, 0.25);
	}

	.text {
		font-size: 30px;
	}

	.cf {
		$size: 30px;
		background: #fff;
		width: $size;
		height: $size;
		line-height: $size;
		margin: 3px 0;
		border-radius: 50%;
		font-size: 18px;
		text-align: center;
	}

	.left {
		flex: 1;
	}
	.right {
		text-align: right;
			display: flex;
			flex-direction: column;
		justify-content: center;
	}

	h1, h2, h3, h4 {
		margin: 0;
	}
	h1 {
		font-size: 34px;
		line-height: 36px;
	}
	h2 {
		font-size: 14px;
		font-weight: 600;
		letter-spacing: -0.5px;

		small {
			font-size: 10px;
			font-weight: 400;
			letter-spacing: -0.25px;
		}

		.direction {
			vertical-align: top;
			margin: 4px 1px 0 -3px;

			&.in {
				transform: rotate(180deg);
			}
		}
	}

	h3 {
		font-size: 14px;
		font-weight: bold;
		padding-right: 12px;

		img {
			// margin-right: 4px;
		}

		&.realtime {
			background: url(/icons/realtime.svg);
			background-position: calc(100% - 2px) 9px;
			background-repeat: no-repeat;

			&.due {
				background-position: calc(100% - 2px) -1px;
			}
		}

		.number {
			font-size: 26px;
		}
		.number-small {
			font-size: 18px;
			// display: inline-block;
			// padding-top: 9px; // to keep in line with bigger number
		}
		.opacity {
			color: rgba(#fff, 0.5);
		}
	}

	h4 {
		font-size: 12px;
		font-weight: 400;
		margin-right: 12px;

		&.realtime {
			&::after {
				content: "";
				background: url(/icons/realtime.svg);
				background-position: -2px -2px;
				background-repeat: no-repeat;
				width: 8px;
				height: 13px;
				display: inline-block;
			}
		}

		.last {
			text-transform: uppercase;
			padding: 1px 4px;
			display: inline-block;
			border: 1px solid rgba(#fff, 0.5);
			border-radius: 2px;
			font-size: 10px;
			margin-top: 1px;
			margin-right: -1px;
			letter-spacing: 0.5px;
		}
	}

}

.spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: lighten($atblue, 15);
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@keyframes sk-scaleout {
  0% { 
		-webkit-transform: scale(0) translate3d(0, 20px, 0);
		transform: scale(0) translate3d(0, 20px, 0);
  } 100% {
		-webkit-transform: scale(1.0) translate3d(0, 20px, 0);
		transform: scale(1.0) translate3d(0, 20px, 0);
		opacity: 0;
  }
}