.content {
	flex: 1;
	margin-left: 300px;

	header {
		background-color: #f4f4f4;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		padding: 25px;
		height: 25vh;
		position: relative;

		border-bottom: 1px solid #ccc;

		div {
			position: absolute;
			bottom: 0;
			padding-bottom: 20px;
			left: 20px;
			right: 20px;
		}

		.icon {
			font-size: 48px;
			float: left;
			margin-right: 7px;
		}

		h1 {
			margin: 0;
			font-size: 3em;
			letter-spacing: -3px;
			color: #283a51;
			line-height: 1;
			text-shadow: 0 1px 3px #fff;
		}
		h2 {
			margin: 0;
			font-size: 16px;
			color: #444;
			text-shadow: 0 1px 1px #fff;
			text-indent: 3px;
			line-height: 1;
		}

		time {
			right: 5px;
			position: absolute;
			font-weight: bold;
			letter-spacing: -1px;
			font-size: 32px;
			bottom: 25px;
			padding: 3px 5px;
			background: #283a51;
			color: #fff;
		}
		@keyframes blink {
			0% {
				color: #fff;
			}
			50% {
				color: transparent;
			}
		}
		.blink {
			animation: blink 2s steps(1, end) infinite;
			font-weight: normal;
		}
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		ul {
			width: 100%;
			border-bottom: 1px solid #ddd;
			&:hover {
				background: #eee;
			}
		}
	}

	.hidden {
		display: none;
	}

	li li {
		display: inline-block;
		padding: 10px 5px;
		font-size: 18px;
		vertical-align: top;
		line-height: 28px;



		&:nth-child(1) {
			width: 76px;
			text-align: right;
			padding-left: 10px;
			padding-right: 7px;

			div {

				font-weight: bold;
				display: inline-block;
				border: 2px solid rgba(0,0,0,0.2);
				text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
				border-radius: 2px;
				line-height: 1;
				padding: 4px;
				color: #fff;
				font-size: 16px;
			}
		}
		&:nth-child(2) {
			font-weight: bold;
		}
		&:nth-child(3) {
			width: 350px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}