.content {
	flex: 1;
	margin-left: 300px;

	header {
		background-color: #f4f4f4;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		padding: 25px;
		height: 25vh;
		position: relative;

		// border-bottom: 1px solid #ccc;

		div {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(transparent,#fff);
			padding: 0 20px 20px;
		}

		.icon {
			font-size: 48px;
			float: left;
			margin-right: 7px;
		}

		h1 {
			margin: 0;
			font-size: 3em;
			letter-spacing: -3px;
			color: $atblue;
			line-height: 1;
			text-shadow: 0 1px 3px #fff;
		}
		h2 {
			margin: 0;
			font-size: 16px;
			color: #444;
			text-shadow: 0 1px 1px #fff;
			text-indent: 3px;
			line-height: 1;
		}

		time {
			right: 25px;
			position: absolute;
			font-weight: bold;
			letter-spacing: -1px;
			font-size: 32px;
			bottom: 25px;
			padding: 3px 5px;
			background: $atblue;
			color: #fff;
		}
		@keyframes blink {
			0% {
				color: #fff;
			}
			50% {
				color: transparent;
			}
		}
		.blink {
			animation: blink 2s steps(1, end) infinite;
			font-weight: normal;
		}
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		ul {
			width: 100%;
			// border-bottom: 3px solid #fff;
			background: darken(#f7f8fb,1.5);

			&.active {
				background: #fff;

				&:hover {
					background: #f7f8fb;
				}

				&:active {
					background: darken(#f7f8fb,4);
				}

				li:nth-child(4) {
					display: inline-block;
					float: right;
					font-size: 48px;
					padding: 5px 15px 10px;
					color: #777;	
				}
			}
		}
		.header {
			ul {
				background: $atblue;
			}
			li {
				font-size: 14px;
				letter-spacing: -0.5px;
				font-weight: bold;
				text-transform: uppercase;
				color: #fff;
				padding-top:3px;
				padding-bottom:3px;
			}

			li:nth-child(1) {
				width: 76px;
				padding-right: 7px;
				padding-left: 10px;
			}
			li:nth-child(2) {
				padding-left: 10px;
				width: 350px;
				text-align: left;
				color: #fff;
				font-weight: bold;
			}
			li:nth-child(3) {
				font-weight: bold;
				color: #fff;
			}
		}
	}

	.hidden {
		display: none;
	}

	.active {
		li:nth-child(3) {
			color: #555;
		}
	}

	li li {
		display: inline-block;
		padding: 12px 5px;
		font-size: 18px;
		vertical-align: top;
		line-height: 28px;
		cursor: default;

		&:nth-child(1) {
			width: 76px;
			text-align: right;
			padding-left: 10px;
			padding-right: 7px;

			div {
				font-weight: bold;
				display: inline-block;
				border: 2px solid rgba(0,0,0,0.2);
				text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
				border-radius: 2px;
				line-height: 1;
				padding: 4px;
				color: #fff;
				font-size: 16px;
			}
		}
		// &:nth-child(2) {
		// 	width: 50px;
		// 	text-align: right;
		// 	font-weight: bold;
		// }
		&:nth-child(2) {
			padding-left: 10px;
			font-weight: 600;
			width: 350px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			color: $atblue;
			letter-spacing: -0.5px;
		}
		&:nth-child(3) {
			font-weight: bold;
			text-transform: uppercase;
			font-size: 15px;
			letter-spacing: -0.25px;
			color: #777;

			time {
				color: #27ae60;
			}
		}
		&:nth-child(4) {
			display: none;
		}
	}
}