.default-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  background: $default-back;

  @media (min-width: 851px) {
    left: $sidebar-width;
    z-index: 0;
  }


  .material-header {
    height: $navsize;
    div {
      z-index: 10;
    }

    h1 {
      line-height: $navsize; 
      padding-top: 0;
    }
  }
}
.default-content {
  padding: 0.5rem 1rem;
  max-height: calc(100vh - #{$navsize});
  max-height: calc(var(--real-height) - #{$navsize});
  overflow-y: auto;
  box-sizing: border-box;

  h2 {
    color: $atblue;
    letter-spacing: -0.5px;
    margin-bottom: 0.25rem;
  }

  a {
    color: $lightblue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: darken($lightblue, 20);
    }
  }

  ul {
    list-style-type: disc;
  }
}