.guidebook-styles {
  padding: 0 16px;
  font-size: 15px;

  a {
    color: $lightblue;
    text-decoration: none;

    &:visited {
      color: darken($lightblue, 30);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
    background: #f8f8f8; 
  }
}
