.guidebook-styles {
  $guidebook-border: 1px solid #ddd;
  padding-bottom: 16px;
  user-select: text;
  font-size: 15px;
  line-height: 1.5;

  h2,
  h3 {
    font-weight: 600;
  }

  h2 {
    position: sticky;
    top: 0;
    border-bottom: $guidebook-border;
    padding: 12px 14px 11px 16px;
    margin: 0;
    background: #f8f8f8;
    font-size: 20px;
    display: flex;

    &:active {
      background: rgba(0, 0, 0, 0.075);
    }

    &::after {
      content: 'Expand Icon';
      font-size: 0px;
      background: url(/icons/dropdown.svg);
      background-repeat: no-repeat;
      background-position: 0 50%;
      transform: rotate(-180deg);
      flex: 1;
      display: block;
      text-align: right;
    }
  }

  h3 {
    margin: 0 0 0.5em;
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
    margin: 0 0 0.5em;
  }

  p {
    margin: 0 0 1.75em;
  }

  .h2-section {
    background: #fff;

    &.collapsed {
      .h2-section-content {
        display: none;
      }
      h2::after {
        background-position: 100% 50%;
        transform: rotate(0deg);
      }
    }
  }
  .h2-section-content {
    padding: 24px 16px 8px;
    border-bottom: $guidebook-border;
  }

  a {
    color: $lightblue;
    text-decoration: none;

    &:visited {
      color: darken($lightblue, 30);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  footer {
    text-align: center;
    font-size: 13px;
    padding: 24px 16px;
    color: #777;
  }
}
