.listStations {
  @include mobile-desktop-absolute();
  overflow-y: auto;
  overflow-x: hidden;
  background: #ddd;
  z-index: 1;

  $list-width: 300px;
  $list-color: #fafafa;

  .listStationsBackground {
    position: absolute;
    top: 0;
    left: 0;
    max-width: $list-width;
    width: 100%;
    bottom: 0;
    background: lighten($atblue, 3);
  }

  h1 {
    color: rgba(255,255,255,0.7);
    text-transform: uppercase;
    font-size: 14px;
    margin: 20px 0 10px;
    text-indent: 13px;
  }

  h1, h2 {
    cursor: default;
    position: relative;
    z-index: 1;
    max-width: $list-width;
  }

  h2 {
    color: #fff;
    padding: 10px 14px;
    margin: 0;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;

    @media (pointer: fine) {
      &:hover {
        background: rgba(0,0,0,0.1);
      }
    }

    .back {
      width: 24px;
      height: 24px;
      padding: 4px 10px 4px 4px;
      display: none;
      vertical-align: top;
    }

    .icon {
      display: inline-block;
      height: 30px;
      width: 30px;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      margin-right: 10px;
      font-weight: normal;
      border-radius: 50%;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  a {
    color:rgba(255,255,255,0.6);
    max-width: $list-width;
    margin: 14px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;

    &:hover {
      text-decoration: underline;
    }
  }

  .selected h2, h2:active {
    background: rgba(0,0,0,0.15);
  }

  .linewrap {
    position: absolute;
    top: 0;
    left: $list-width;
    top: 0;
    max-width: $list-width + 50px;
    background: $list-color;
    width: 100%;
    bottom: 0;
    display: none;
    z-index: 2;

    @media (max-width: 800px) {
      max-width: none;
      width: auto;
      right: 0;
    }

    h2 {
      margin: 0;
      max-width: none;
      visibility: visible;
      background: transparent !important;
      color: #000;
      margin-top: 10px;

      .icon {
        color: #fff;
      }
    }
  }

  .selected .linewrap {
    display: block;

    @media (max-width: 700px) {
      animation: 300ms ss-to-stop-station-nodelay ease 1;  
    }
    @media (min-width: 700px) {
      animation: 250ms ss-to-stop-station-large ease 1;
    }
  }

  ul {
    position: absolute;
    left: 0;
    top: 62px;
    bottom: 0;
    overflow-y: auto;
    padding: 0;
    width: 100%;
  }

  @media (max-width: 700px) {
    .listStationsBackground {
      max-width: 100%;
    }
    h2 {
      max-width: 100%;
    }
    .linewrap {
      left: 0;

      .icon {
        float: right;
      }
      .back {
        display: inline-block;
      }
    }
  }

  li {
    $zemargin: 25px;
    border-color: inherit;
    padding: 10px 0 10px $zemargin + 25px;
    font-size: 18px;
    position: relative;
    font-weight: 600;
    color: #444;
    cursor: default;
    letter-spacing: -0.5px;
    background: $list-color;
    -webkit-tap-highlight-color: transparent;

    @media (pointer: fine) {
      &:hover:not(.zoneonly) {
        color: $atblue;
        background: darken($list-color, 7);
      }
    }

    &:active:not(.zoneonly) {
      color: $atblue;
      background: darken($list-color, 10);
    }

    &.zoneonly {
      padding: 0;
      height: 5px;
      font-size: 14px;
      height: 10px;

      span {
        margin-top: 0;
        top: -4px;
      }

      &::before, &::after {
        display: none;
      }
    }

    .zone {
      vertical-align: top;
      display: inline-block;
      background: $atblue;
      color: #fff;
      border-radius: 50%;
      line-height: 18px;
      width: 18px;
      text-align: center;
      font-size: 12px;
      margin-top: 4px;
      margin-left: 5px;
      font-weight: bold;
      position: absolute;
      left: $zemargin - 11px;
      z-index: 2;
    }
    .interchange {
      font-weight: 600;
      background: #000;
      width: 22px;
      line-height: 22px;
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      font-size: 11px;
      margin-top: 3px;
      margin-left: 2px;
      text-transform: uppercase;
      vertical-align: top;

      &.pad {
        width: 21px;
        padding-right: 1px;
      }

      &:first-child {
        margin-left: 7px;
      }
    }

    &::before {
      background-color: inherit;
      content: "";
      width: 5px;
      margin-left: $zemargin + 6px;
      height: 0;
      border-color: inherit;
      border-bottom-width: 4px;
      border-bottom-style: solid;
      border-left-width: 0;
      border-right-width: 0;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 20px;
    }

     &::after {
      content: "";
      margin-left: $zemargin;
      width: 0;
      border-color: inherit;
      border-left-width: 6px;
      border-left-style: solid;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: #000;
    }

    &:first-child {
      &::before {
        top: 0;
        padding-top: 17px;
        width: 16px;
        left: -11px;
        z-index: 1;
      }
    }
    &:last-child {
      &::before {
        z-index: 1;
        bottom: 0;
        padding-bottom: 22px;
        width: 16px;
        left: -11px;
        border-top-width: 4px;
        border-top-style: solid;
        border-bottom-width: 0;
      }
      &::after {
        height: 50%;
      }
    }
  }
}
@media (max-width: 600px) {
  .cfContainer {
    background: #000;
    height: 100%;
  }
  
  .listStations:not(.activepane) {
    animation: 500ms ss-to-stop-nav ease 1;
  }
  .listStationsContainer {
    .station {
      animation: 500ms ss-to-stop-station ease 1;
    }
  }
  .goingback {
    .listStations {
      animation: 500ms stop-to-ss-nav ease 1;
    }
    .listStationsContainer {
      .station {
        animation: 500ms stop-to-ss-station ease 1;
        transform: translate3d(100vw,0,0);
      }
    }
  } 
}
@media (max-width: 700px) {
  .goingbacklocal {
    .selected .linewrap {
      animation: 300ms stop-to-ss-station ease 1;
      transform: translate3d(100vw,0,0);
    }
  }
}

@media (min-width: 600px) {
  .listStationsContainer {
    .station {
      animation: 250ms ss-to-stop-station-large-search ease 1;
    }
  }

  .goingback {
    .listStationsContainer {
      .station {
        animation: 250ms stop-to-ss-station-large ease 1;
        opacity: 0;
      }
    }
  }
}
.listStationsContainer {
  .station {
    @include mobile-desktop-absolute();
    z-index: 5;
    background: #fff;
  }
}