.savedstations {
  display: flex;
  height: 100%;
  background: #eee;

  .cf .name {
    line-height: 30px;
  }

  a {
    color: $atblue;
    margin: 12px 14px 20px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;

    &:hover {
      text-decoration: underline;
    }
  }

  .gicon {
    color: #fff;
    display: inline-block;
    height: 30px;
    width: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin: 0 10px 0 5px;
    font-weight: normal;
    border-radius: 50%;
    text-transform: uppercase;
    font-weight: 600;
  }

  button {
    border: 0;
    color: #444;
    background: transparent;
    letter-spacing: -0.5px;
    font-weight: 600;
    border: 1px solid #999;
    margin-top: 25px;
    display: none;
    border-radius: 3px;

    &.primary {
      color:#fff;
      background: darken($lightblue, 10);
      border-color: darken($lightblue, 10);

      &:hover {
        background: darken($lightblue, 15);
        border-color: darken($lightblue, 15);
      }
    }

    @media (max-width: 480px) {
      font-size: 16px;
      padding: 8px 20px;
      img {
        width: 16px;
        margin-top: 3px;
        margin-right: 5px;
        vertical-align: top;
      }
      &.primary {
        display: inline-block;
      }
    }
    @media (max-width: 360px) {
      font-size: 14px;
      padding: 7px 17px;
      margin-top: 15px;
    }
  }

  p {
    padding: 0 15px;
    margin-bottom: 30px;
    font-size: 15px;
    color: #666;

    @media (max-width: 480px) {
      padding-top: 15px;
      text-align: center;
    }
  }

  nav {
    position: relative;
    max-width: 300px;
    width: 100%;
    background: $default-back;
    color: #444;
    display: flex;
    flex-direction: column;

    h2 {
      color: $atblue;
      text-transform: uppercase;
      font-size: 14px;
      margin: 20px 0 0;
      text-indent: 14px;
      padding-bottom: 12px;

      border-bottom: 1px solid #e8e8e8;
    }

    ul {
      overflow-y: auto;
      box-sizing: border-box;
      flex: 1;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    li {
      display: flex;
      padding: 10px;
      cursor: default;
      background: #fff;
      border-bottom: 1px solid #e8e8e8;

      @media (pointer: fine) {
        &:hover {
          background: #f7f7f7;
        }
      }

      &.selected, &:active {
        background: #f5fafe;
      }

    }

    // the emoji
    .icon {
      padding: 4px 2px 0px 2px;
      margin-right: 5px;
      width: 36px;
      text-align: center;

      img {
        width: 36px;
      }
    }

    .text-wrapper {
      padding: 5px 0;
      flex: 1;
    }

    .name {
      letter-spacing: -0.5px;
      line-height: 1;
      font-size: 18px;
      font-weight: 600;
      color: $atblue;
    }
    .description {
      font-size: 12px;
      color: #999;
      font-weight: 600;
    }
  }

  @keyframes ss-to-stop-station-large {
    0% {
      opacity: 0;
      transform: translate3d(50px,0,0);
    }

    100% {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
  @keyframes stop-to-ss-station-large {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  @media (min-width: 901px) {
    &:not(.activepane) {
      .station {
        animation: 300ms ss-to-stop-station-large ease 1;
      }
    }
    &.goingback {
      .station {
        animation: 300ms stop-to-ss-station-large ease 1;
        opacity: 0;
      }
    }
    .station {
      .back {
        display: none;
      }
    }
  }

  @media (min-width: 601px) {
    nav {
      box-shadow: 0 0 4px rgba(0,0,0,0.3);
      z-index: 3;
    }
  }

  @media (max-width: 900px) {
    nav {
      display: none;
      max-width: 400px;
      left: 0;
      bottom: 0;
    }
    &.activepane nav {
      display: flex;
    }
    .ss:after {
      content: "›";
      font-size: 42px;
      line-height: 34px;
      padding-right: 5px;
      display: none;
    }
  }
  @keyframes ss-to-stop-station {
    0% {
      transform: translate3d(0,15px,0);
      opacity: 0;
    }
    100% {
      transform: translate3d(0,0,0);
      opacity: 1;
    }
  }
  @keyframes stop-to-ss-station {
    0% {
      transform: translate3d(0,0,0);
      opacity: 1;
    }
    100% {
      transform: translate3d(0,15px,0);
      opacity: 0;
    }
  }
  @keyframes ss-to-stop-station-ios {
    0% {
      transform: translate3d(100vw,0,0);
    }
    100% {
      transform: translate3d(0,0,0);
    }
  }
  @keyframes stop-to-ss-station-ios {
    0% {
      transform: translate3d(0,0,0);
    }
    100% {
      transform: translate3d(100vw,0,0);
    }
  }

  @media (max-width: 600px) {
    &:not(.activepane) {
      &.animate {
        .station {
          animation: 250ms ss-to-stop-station ease 1;
        }
      }
    }
    &.goingback {
      .station {
        animation: 250ms stop-to-ss-station ease 1;
        transform: translate3d(0,15px,0);
        opacity: 0;
      }
    }
    nav {
      max-width: 600px;
      z-index: 0;
      display: flex;
    }
  }
  @media (min-width: 601px) {
    &:not(.activepane) {
      .station {
        animation: 300ms ss-to-stop-station-large-search ease 1;
      }
    }
    &.goingback {
      .station {
        animation: 300ms stop-to-ss-station-large ease 1;
        opacity: 0;
      }
    }
    .station {
      left: $navsize;
      box-shadow: none;
      z-index: 1;
    }
  }
}

@media (max-width: 900px) {
  .station {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
  }
}

.station {
  background: $default-back;
  display: flex;
  flex-direction: column;  
  flex: 1;
}