.root-card-content {
  a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }

  .label {
    color: $atblue;
    margin: 5px 14px 5px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;

    &:hover {
      text-decoration: underline;
    }
  }

  .version {
    display: block;
    text-align: center;
    margin: 15px 20px;
    color: #666;
    font-size: 12px;
  }

  button {
    border: 0;
    color: #444;
    background: transparent;
    letter-spacing: -0.5px;
    font-weight: 600;
    border: 1px solid #999;
    margin-top: 25px;
    display: none;
    border-radius: 3px;

    &.primary {
      color:#fff;
      background: darken($lightblue, 10);
      border-color: darken($lightblue, 10);

      &:hover {
        background: darken($lightblue, 15);
        border-color: darken($lightblue, 15);
      }
    }

    @media (max-width: 480px) {
      font-size: 16px;
      padding: 8px 20px;
      img, svg {
        width: 16px;
        height: auto;
        margin-top: 3px;
        margin-right: 5px;
        vertical-align: top;
      }
      &.primary {
        display: inline-block;
      }
    }
    @media (max-width: 360px) {
      font-size: 14px;
      padding: 7px 17px;
      margin-top: 15px;
    }
  }

  p {
    padding: 15px 15px 00;
    margin-bottom: 30px;
    font-size: 15px;
    color: #666;

    @media (max-width: 480px) {
      text-align: center;
    }
  }

  h2 {
    color: $atblue;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    text-indent: 14px;
    padding: 20px 0 5px;
    border-bottom: 1px solid #e4e4e4;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    padding: 8px 10px;
    cursor: default;
    background: #fff;
    border-bottom: 1px solid #e4e4e4;

    &.ss {
      padding-bottom: 5px;
    }

    @media (pointer: fine) {
      &:hover {
        background: #f7f7f7;
      }
    }

    &.selected, &:active {
      background: #f5fafe;
    }

  }

  @media (min-width: 481px) {
    h2 {
      padding: 21px 0 7px;
    }
    ul {
      box-shadow: 0 1px 3px rgba(#000, 0.3);
    }

    li:last-child:not(.lines-btn) {
      border-bottom: 0;
    }
  }

  // the emoji
  .icon {
    padding: 0 2px 0px 2px;
    margin: 0.25rem 0.25rem 0 0;
    width: 36px;
    text-align: center;

    img, svg {
      height: auto;
      width: 36px;
    }
  }
  ul:first-child li:not(:nth-child(2)) .icon {
    img, svg {
      width: 34px;
    }
  }

  .text-wrapper {
    padding: 0 0 0.25rem;
    flex: 1;
  }

  .name {
    letter-spacing: -0.5px;
    line-height: 1.25;
    margin: 0.25rem 0 0;
    font-size: 18px;
    font-weight: 600;
    color: $atblue;
  }
  .description {
    font-size: 12px;
    color: #555;
    font-weight: 600;
  }

  .text-only {
    background: #fff;
    border-bottom: 1px dotted #ddd;

    &:hover, &:active {
      background: #fff;
    }

    .name {
      font-size: 22px;
      margin-bottom: 5px;
    }
    .description {
      font-size: 14px;
      color: #333;
      font-weight: 400;
    }
    .text-wrapper {
      padding-left: 3px;
      padding-bottom: 10px;
    }
  }
  @media (min-width: 601px) {
    nav {
      box-shadow: 0 0 4px rgba(0,0,0,0.3);
      z-index: 3;
    }
  }
  @media (max-width: 850px) {
    .lines-btn {
      display: none;
    }
  }

  @media (max-width: 900px) {
    nav {
      display: none;
      max-width: 400px;
      left: 0;
      bottom: 0;
    }
    &.activepane nav {
      display: flex;
    }
    .ss:after {
      content: "›";
      font-size: 42px;
      line-height: 34px;
      padding-right: 5px;
      display: none;
    }
  }
}

.onboard li:nth-child(3) span {
  &:last-child {
    display: none;
  }
}
@media (min-width: 481px) {
  .onboard li:nth-child(3) span {
    &:first-child {
      display: none;
    }
    &:last-child {
      display: inline;
    }
  }
}
@media (display-mode: standalone) {
  .onboard {
    display: none;
  } 
}
.ios-standalone .onboard {
  display: none;
}
.onboard {
  padding-top: 1rem;
  svg {
    fill: $atblue;
  }
}

.station {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;

  @media (min-width: 851px) {
    left: $sidebar-width;
    z-index: 0;
  }
}

@keyframes ss-to-stop-station {
  0% {
    transform: translate3d(0,15px,0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
@keyframes stop-to-ss-station {
  0% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0,15px,0);
    opacity: 0;
  }
}
@keyframes ss-to-stop-station-ios {
  0% {
    transform: translate3d(100vw,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
@keyframes stop-to-ss-station-ios {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(100vw,0,0);
  }
}