// this is dodgy code that should be css-in-js, but it's not for reasons...
// please be descriptive with your reason

// touchable-opacity
// reason: active psuedo element is better than js with like, state.
.touchable-opacity {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;

  // not IOS needs a CSS rule
}
