$borders: 14px;

.region-popover {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  pointer-events: none;

  &.show {
    pointer-events: all;

    header {
      opacity: 1;
    }
    .content {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  @media (max-width: 850px) {
    width: 100%;
  }

  header {
    opacity: 0;
    transition: 250ms ease opacity;
  }

  .content {
    box-sizing: border-box;
    padding: $borders / 2 $borders;
    transition: 250ms ease transform, 250ms ease opacity;
    opacity: 0;
    transform: translate3d(0, 25px, 0);
    background: #fff;
    height: calc(100% - #{$navsize});
    // -webkit-overflow-scrolling: touch; // can't do this for now, because iOS Flickers?
    overflow-y: scroll;
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }
  @media (min-width: 500px) and (max-width: 850px) {
    .content {
      padding: 0 $borders / 2;
    }

    ul {
      display: flex;
    }

    li {
      flex: 1;
      margin: $borders / 2;
    }
  }

  .vote {
    text-align: center;
    font-size: 15px;
  }
}
