$transition: 300ms ease transform;
$map-transition: 300ms ease opacity;

.root-transition-group {
  height: 100%;
  display: flex;
}
.root-map {
  height: 100vh;
  height: var(--real-height);
  background: #000;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}
$top-offset: 0;
.root-card {
  height: 100vh;
  height: var(--real-height);
  transition: $transition;
  will-change: transform;
}
.delay-transition .root-card {
  transition: 150ms ease-out transform;
  transition-delay: 150ms;
}
.root-card-content {
  background: $default-back;
  min-height: 50vh;
}
.hide-maximized {
  opacity: 0.99;
  transition: 200ms ease opacity;
}
.search {
  transition: $map-transition;
}

$max-position: 0;
$default-position: 300px;
$min-position: 0;
$pad: 25px;

// only applies to mobile touch devices
@media (max-width: 850px) {
  .max-view {
    .search {
      opacity: 0.9;
      pointer-events: none;
    }
    .hide-maximized {
      opacity: 0;
    }
  }
  .root-card {
    // z-index: 1;

    &.pan-lock {
      touch-action: pan-down;
    }
  }
  .default-view {
    $pad: 25px;
    .root-card {
      overflow-y: hidden;
      transform: translate3d(
        0,
        calc(100vh - #{$root-card-bar} - #{$default-position}),
        0
      );
      transform: translate3d(
        0,
        calc(var(--real-height) - #{$root-card-bar} - #{$default-position}),
        0
      );
    }
  }
  .map-view {
    .root-card {
      overflow-y: hidden;
      transform: translate3d(
        0,
        calc(100vh - #{$root-card-bar - $max-position - $top-offset - $pad}),
        0
      );
      transform: translate3d(
        0,
        calc(
          var(--real-height) - #{$root-card-bar + $max-position + $top-offset +
            $pad}
        ),
        0
      );
    }

    .root-card-content {
      box-sizing: border-box;
      width: 100%;
    }
  }
}
.root-card-padding-button {
  height: $pad;
}
@media (min-width: 481px) {
  .root-card-content {
    position: relative;
    padding: 0 10vw;
  }
  .root-card-content::before {
    content: '';
    top: $root-card-bar * -1;
    left: 0;
    background: #eee;
    height: $root-card-bar;
    width: 100%;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 3px rgba(#000, 0.4);
  }
}

@media (min-width: 851px) {
  .root-card {
    width: $sidebar-width;
  }
  .root-card-content {
    padding: 0;
  }
  .root-card-padding-button {
    display: none;
  }
  .root-card-wrapper {
    height: 100%;
  }
  .root-map {
    margin-left: $sidebar-width;
  }
}
