$padding-height: 250px;
$transition: 250ms ease transform;

.root-container {
  position: relative;
  height: 100vh;
  height: var(--real-height);
  -webkit-tap-highlight-color: transparent;

  @media (max-width: 850px) {
    &.invisibleUi {
      visibility: hidden;
    }  
  }
}
.root-map {
  height: calc(100vh - #{$mobilenavsize} - #{$root-card-bar});
  height: calc(var(--real-height) - #{$mobilenavsize} - #{$root-card-bar});
  background-color: #eee;
  transform: translate3d(0,calc(56px + 64px - 50vh),0);
  transform: translate3d(0, calc(56px + 64px - (var(--real-height) / 2)), 0);
  transition: $transition;
  will-change: transform;
  position: relative;
  z-index: 0;
}
.root-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  box-sizing: border-box;
  transition: $transition;
  will-change: transform;
  overflow-y: auto;
  overflow-x: hidden;

  -ms-scroll-rails: railed;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.root-card-content {
  background: #eee;
  min-height: 50vh;
}
// only applies to mobile touch devices
@media (max-width: 850px) {
.map-view {
  .root-map {
    transform: translate3d(0,0,0);
  }
  $pad: 25px;
  .root-card {
    top: $padding-height - $pad;
    overflow-y: hidden;
    transform: translate3d(0,calc(100vh - #{$root-card-bar} - #{$padding-height}),0);
    transform: translate3d(0,calc(var(--real-height) - #{$root-card-bar} - #{$padding-height}),0);
  }

  .root-card-content {
    width: 100%;
  }

  .root-card-padding-button {
    height: $pad;
  }
}
}
.root-card-padding-button {
  height: $padding-height;
}
.root-card-bar {
  height: $root-card-bar;
  display: flex;
  background: #eee;
  box-shadow:  0 0 3px rgba(#000,0.4);
  // border-bottom: 1px solid #e4e4e4;
  max-width: 480px;
  margin: 0 auto;

  button {
    display: block;
    flex: 1;
    background: #fff;
    border: 0;
    border-left: 1px solid #e4e4e4;
    margin: 0;
    outline: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: $atblue;
    font-size: 12px;
    padding-top: 3px;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 1px 0 #ddd;

    @media (pointer: fine) {
      &:hover {
        background: #f7f7f7;
      }
    }

    &:active {
      background: #f5fafe;
    }

    img {
      display: block;
      margin: -2px auto 2px;
    }

    &:first-child img {
      margin-bottom: 6px;
      margin-top: 0;
    }

    &:first-child {
      border-left: 0;
    }
  }
}
@media (min-width: 481px) {
  .root-card-content {
    position: relative;
  }
  .root-card-bar {
    position: relative;
    z-index: 1;
    border-bottom: 0;
    box-shadow:  0 1px 3px rgba(#000,0.3);
    transform: translate3d(0, -14px, 0);

    button {
      box-shadow: none;
    }
  }
  .root-card-content::before {
    content: "";
    top: $root-card-bar * -1;
    background: #eee;
    height: $root-card-bar;
    width: 100%;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 3px rgba(#000, 0.4);
  }
}

@media (min-width: 851px) {
  .root-container {
    .material-header {
      width: $sidebar-width;
    }
  }
  .root-card {
    width: $sidebar-width;
    top: $mobilenavsize;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
  }
  .root-card-content {
    padding-top: 0;
  }
  .root-card-padding-button, .root-card-bar {
    display: none;
  }
  .root-map {
    transform: none;
    padding-left: $sidebar-width;
    height: 100vh;
    margin-top: -$mobilenavsize;
  }
}