.map {
  height: 100%;
}
.search {
  position: relative;
  height: 100%;
}
.searchbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
  margin: 10px;
  background: #fff;
  border-radius: 2px;
  max-width: 300px;
  width: calc(100% - 20px);

  img {
    width: 20px;
    padding: 1px 5px;
    vertical-align: top;
    opacity: 0.5;

    &:hover {
      opacity: 0.8;
    }
  }

  input {
    border: 0;
    padding: 10px 15px;
    background: transparent;
    outline: 0;
    box-sizing: border-box;
    width: calc(100% - 42px);
  }
  button {
    background: transparent;
    border: 0;
  }

  @media (max-width: 480px) {
    max-width: none;
    margin-top: 15px;
  }
}