.map {
  height: 100%;
  z-index: 0;
}
.search {
  height: 100%;

  @media (max-width: $desktop-threshold) {
    height: calc(100% - 58px);
  }
}
.offline-container {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  background: rgba(#000, 0.85);
  color: #fff;
  text-align: center;
  padding: 0.5rem 1rem 1rem;
}
