.searchswitch {
  position: absolute;
  bottom: 0;
  height: 48px;
  background: #fff;
  left: 0;
  right: 0;
  display: flex;
  box-sizing: border-box;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  z-index: 1;

  @media (min-width: 481px) {
    display: none;
  }

  li {
    display: inline-block;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 47px;
    color: #666;
    letter-spacing: -0.5px;

    &.selected {
      color: #222;
      font-weight: 600;
    }
  }
}