.settingsContainer {
    position: absolute;
    top: $mobilenavsize;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    @media (min-width: 851px) {
      top: 0;
      left: $sidebar-width;
      z-index: 0;
    }

    h1 {
        font-weight: 600;
        margin: 0 0 7px;
        font-size: 14px;
        padding: 14px 14px 7px;
        border-bottom: 1px solid #ddd;
        color: #666;
    }
}

.settingwrap {
    padding: 9px 14px;
    max-width: 480px - 28px;
    text-align: right;

    h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        float: left;
        display: inline-block;
    }
}

.settings {
    height: 100%;
    background: $default-back;
    overflow-y: auto;
    box-sizing: border-box;

     svg {
        vertical-align: top;
        margin-right: 9px;
        fill: #222;
    }

    a {
        color: $lightblue;
        text-decoration: none;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }

        &.subtle {
            color: #222;
            font-weight: normal;
        }
    }

    .logobox {
        padding: 36px 14px 21px;
        @media (max-width: 480px) {
            text-align: center;
        }

        .sourcecode {
            font-size: 14px;
            padding-top: 7px;
        }
    }

    .logo {
        font-size: 24px;
        .company {
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: -1px;
        }
        .app {
            letter-spacing: -0.5px;
        }
        .version {
            font-size: 16px;
            color: $lightblue;
            font-weight: bold;
        }
    }
    .copyright a {
        font-weight: bold;
        font-size: 12px;
    }

    .container {
        color: #222;
    }

    p {
        margin: 7px 0;
    }

    .credits {
        color: #222;
        font-size: 15px;
        
        h3 {
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: -0.5px;
        }

        button, .button {
            display: block;
            text-align: left;
            width: 100%;
            box-sizing: border-box;
            border: 0;
            padding: 9px 14px;
            color: #222;
            font-weight: normal;
            cursor: default;
            background: transparent; 
            outline: 0;
            -webkit-tap-highlight-color: transparent;
            line-height: 24px;
            font-size: 16px;

            @media (pointer: fine) {
                &:hover {
                    background: #f2f2f2;
                }
            }
            &:hover {
                text-decoration: none;
            }
            &:active {
                background: #eee;
            }
        }
        .love {
            padding-top: 13px;
            font-size: 12px;
            font-weight: 600;
        }

        .creditscontainer {
            display: none;
            text-align: left;
            padding: 0 14px 14px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;

            &.visible {
                display: block;
            }
        }
    }
}

// TOGGLE
.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  //display: inline-block;
  width: 44px;
  height: 20px;
  margin-top: 2px;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  float: right;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  //vertical-align: top;
  content: "";
  width: 10px;
  height: 10px;
  margin: 1px;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl-flat + .tgl-btn {
  padding: 2px;
  transition: background .2s ease, border .2s ease;
  border: 2px solid #000;
  border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
  transition: transform .2s ease, background .2s ease;
  background: #000;
  content: "";
  border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
  border: 2px solid $lightblue;
  background: $lightblue;
}
.tgl-flat:checked + .tgl-btn:after {
  transform: translate(25px);
  background: #fff;
}
// THE ON OFF LABEL AFTER THE TOGGLE. INTERNATIONALIZED.
.tgl-lbl {
  vertical-align: top;
  line-height: 24px;
  padding-right: 14px;
  display: inline-block;
  font-size: 15px;
}
.tgl-lbl span:nth-child(2) {
  display: none;
}
.tgl-flat:checked + .tgl-btn + .tgl-lbl span:nth-child(1) {
  display: none;
}
.tgl-flat:checked + .tgl-btn + .tgl-lbl span:nth-child(2) {
  display: inline;
}