.settingsContainer {
    height: 100%;
}

.settingsHeader {
    font-size: 18px;
    background: #1d2e3d;
    text-transform: none;
    color: #fff;
    margin: 0 0 0;
    line-height: 48px;
    padding-top: 4px;
    text-indent: 13px;
}

.settingwrap {
    padding: 14px;

    h3 {
        font-weight: 400;
        font-size: 16px;
        margin-top: 0;
    }
}

.settings {
    background: lighten($atblue, 3);
    position: absolute;
    top: 52px;
    bottom: 48px;
    left: 0;
    right: 0;
    overflow-y: auto;
    box-sizing: border-box;

    @media (min-width: 480px) {
      bottom: 0;
      left: $navsize;
    }

    .container {
        color: #fff;
    }

    .credits {
        color: #fff;
        padding: 13px;
        font-size: 15px;

        h3 {
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 24px;
            letter-spacing: -1px;
        }

        p {
            margin: 7px 0;
        }

        a {
            color: lighten($lightblue, 20);
            text-decoration: none;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }

            &.subtle {
                color: #fff;
                font-weight: normal;
            }
        }

        .logo {
            font-size: 24px;
            .company {
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: -1px;
            }
            .version {
                font-size: 16px;
                color: lighten($lightblue, 20);
                font-weight: bold;
            }
        }
        .copyright a {
            font-weight: bold;
            font-size: 12px;
        }

        button, .button {
            display: inline-block;
            border: 2px solid lighten($lightblue, 20);
            color: #fff;
            font-weight: 600;
            padding: 7px 13px;
            margin-top: 13px;
            margin-right: 5px;
            cursor: default;
            background: transparent; 
            outline: 0;
            -webkit-tap-highlight-color: transparent;

            &:active {
                background: lighten($lightblue, 20);
            }
            &:hover {
              background: rgba(0,0,0,0.1);
              text-decoration: none;
            }
        }
        .love {
            padding-top: 13px;
            font-size: 12px;
            font-weight: 600;
        }

        .sourcecode {
            font-size: 14px;
            padding-top: 7px;
        }

        .creditscontainer {
            display: none;
            &.visible {
                display: block;
            }
        }
    }
}

// TOGGLE
.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: inline-block;
  width: 44px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
      user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  vertical-align: top;
  content: "";
  width: 10px;
  height: 10px;
  margin: 1px;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl-flat + .tgl-btn {
  padding: 2px;
  transition: background .2s ease, border .2s ease;
  background: lighten($atblue, 3);
  border: 2px solid #fff;
  border-radius: 2em;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}
.tgl-flat + .tgl-btn:after {
  transition: transform .2s ease, background .2s ease;
  background: #fff;
  content: "";
  border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
  border: 2px solid $lightblue;
  background: $lightblue;
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }
}
.tgl-flat:checked + .tgl-btn:after {
  transform: translate(25px);
  background: #fff;
}
// THE ON OFF LABEL AFTER THE TOGGLE. INTERNATIONALIZED.
.tgl-lbl {
  vertical-align: top;
  line-height: 18px;
  padding-left: 15px;
  display: inline-block;
}
.tgl-lbl span:nth-child(2) {
  display: none;
}
.tgl-flat:checked + .tgl-btn + .tgl-lbl span:nth-child(1) {
  display: none;
}
.tgl-flat:checked + .tgl-btn + .tgl-lbl span:nth-child(2) {
  display: inline;
}