// NEED TO SORT THE DEFINITION OF THIS.
$initial-transform: translate3d(0, 0, 0);
$default-position: 300px + 32px;
$default-position-transform: translate3d(0, $default-position, 0);
$map-position: 56px;
$map-position-transform: translate3d(0, $map-position, 0);

@keyframes shell-max-enter-default {
  0% {
    transform: $default-position-transform;
  }
  100% {
    transform: $initial-transform;
  }
}
@keyframes shell-default-enter-default {
  0% {
    transform: $default-position-transform;
  }
  100% {
    transform: $initial-transform;
  }
}
@keyframes shell-map-enter-default {
  0% {
    transform: $map-position-transform;
  }
  100% {
    transform: $initial-transform;
  }
}
@keyframes shell-default-exit-default {
  0% {
    transform: $initial-transform;
  }
  100% {
    transform: $default-position-transform;
  }
}
@keyframes shell-map-exit-map {
  0% {
    transform: $initial-transform;
  }
  100% {
    transform: $map-position-transform;
  }
}

.shell-content {
  background: $default-back;
  &.entering,
  &.exiting,
  &.exited {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 70vh;
  }

  &.direction-forward {
    &.entering,
    &.entered {
      z-index: 1;
    }
  }
  &.max-position-default {
    &.direction-forward.entering {
      animation: 250ms ease shell-max-enter-default 1;
      animation-delay: 100ms;
    }
  }
  &.default-position-default {
    &.direction-forward.entering {
      animation: 250ms ease shell-default-enter-default 1;
    }
    &.direction-backward {
      &.exiting,
      &.exited {
        transform: $default-position-transform;
      }
      &.exiting {
        animation: 250ms ease shell-default-exit-default 1;
      }
    }
  }
  &.map-position-default {
    &.direction-forward.entering {
      animation: 50ms ease shell-map-enter-default 1;
    }
  }

  &.map-position-map {
    &.direction-backward {
      &.exiting,
      &.exited {
        transform: $map-position-transform;
      }
      &.exiting {
        animation: 250ms ease shell-map-exit-map 1;
      }
    }
  }
}
