@keyframes shell-enter-default {
  0% {
    transform: translate3d(0, 70vh, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes shell-exit-default {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 70vh, 0);
  }
}

.shell-content {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 70vh;
  background: $default-back;

  &.entering {
    animation: 250ms ease shell-enter-default 1;
  }
  &.exiting,
  &.exited {
    transform: translate3d(0, 70vh, 0);
  }
  &.exiting {
    animation: 250ms ease shell-exit-default 1;
  }
}
