.sign-container {
  .station:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 0 4px rgba(#000,0.4);
  }

  .material-header {
    .header-left, .header-right {
      display: none;
    }
    h1 {
      padding-left: 0.75rem;
      font-size: 20px;
      padding-top: 0;
      line-height: $mobilenavsize;
    }
  }
}