.splashScreen {
  // background: linear-gradient(-45deg, darken($lightblue, 30), $lightblue);
  // background: $atblue;
  // color: #fff;
  
  height: 100%;
  text-align: center;
  overflow-y: auto;
  // background-color: $atblue;
  // color: #fff;

  .wrapper {
    padding: 25px;
    margin: 0 auto;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: calc(100% - 45vh);
    box-sizing: border-box;
    background: #ecf0f1;
  }

  .topwrapper {
    height: 45vh;
    background-image: url(splash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-color: #fff;
    color: #000;

    @media (max-width: 500px) {
      background-size: 150%;
    }

    @media (max-width: 350px) {
      background-size: 175%;
    }
  }

  h1 {
    margin: 0;
    padding-top: 25px;
    animation: 600ms text-in ease 1;
    font-weight: normal;
    font-size: 15px;
    .company {
      letter-spacing: -1px;
      font-weight: bold;
    }
    .version {
      font-size: 0.7em;
      color: $atblue;
    }
  }

  h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
  }

  img {
    width: 100%;
  }

  button {
    border: 0;
    padding: 10px 30px;
    color: #fff;
    background: transparent;
    letter-spacing: -0.5px;
    font-weight: 600;
    font-size: 17px;

    &.primary {
      background: darken($lightblue, 10);
      border-color: lighten($lightblue, 10);
    }

    @media (max-width: 500px), (orientation: landscape) {
      display: none;
      &.primary {
        display: inline-block;
      }
    }
  }
  p {
    font-size: 16px;
    margin: 15px 0 0;
    color: #333;
    letter-spacing: -0.5px;
  }
  a {
    // color: lighten($lightblue, 20);
    color: $lightblue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  .buttonbox {
    margin: 25px 0;
  }
  .credits p {
    font-size: 14px;

    @media(max-width: 500px) {
      font-size: 13px;
    }
  }
  footer {
    p {
      font-size: 11px;
      margin: 0;
      letter-spacing: 0;

      @media(max-width: 500px) {
        font-size: 10px;
      }
    }
    color: #777;
    text-align: center;
  }
}