@keyframes showPin {
  0% {
    opacity: 0;
    transform: translate3d(0,48px,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
@keyframes hidePin {
  0% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0,48px,0);
  }
}

.pincontainer {
  animation: showPin 300ms ease 1;
  padding: 25px;
  text-align: center;
  background: rgba($atblue, 0.95);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;

  button {
    border: 0;
    padding: 10px 30px;
    color: #444;
    background: transparent;
    letter-spacing: -0.5px;
    font-weight: 600;
    font-size: 17px;
    border: 1px solid #999;
    margin: 5px;
    outline: 0;
    border-radius: 3px;
    -webkit-tap-highlight-color: transparent;

    &.primary {
      color:#fff;
      background: darken($lightblue, 10);
      border-color: darken($lightblue, 10);

      &:hover {
        background: darken($lightblue, 15);
        border-color: darken($lightblue, 15);
      }

      &:active {
        background: darken($lightblue, 20);
        border-color: darken($lightblue, 20);
      }
    }

    &:hover {
      background: rgba(0,0,0,0.04);
    }
    &:active {
      background: rgba(0,0,0,0.1);
    }
    &.pin {
      display: none;

      img {
        margin-right: 2px;
        opacity: 0.8;
      }
    }
  }

  &.hide {
    animation: hidePin 300ms ease 1;
    opacity: 0;
  }

  .desktop {
    display: none;
  }

  @media (min-width: 481px) {
    display: none;
  }

  a {
    color: lighten($lightblue, 15);
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }

  p {
    color: #fff;
    margin-bottom: 15px;
  }

  .ios-safari img {
    width: 16px;
    padding: 0 5px;
  }
  .android-chrome img {
    width: 16px;
  }
  input {
    outline: 0;
    border: 0;
    margin-bottom: 1em;
    min-width: 300px;
    padding: 11px 14px;
    border-radius: 3px;
  }
  button {
    color: white;
  }
  h3 {
    margin-top: 0;
  }
}