.timetable-content {
  ul {
  	padding: 0 14px 14px;
  }
  li {
  	display: flex;
  	padding: 9px 7px;
  	border-bottom: 1px solid #eee;
  	color: #222;

  	.left {
  		flex: 1;
  		font-weight: 600;
  		letter-spacing: -0.5px;
  	}
  	.right {
  		padding-left: 10px;
  	}
  	&.opacity {
  		opacity: 0.5;
  	}
  	small {
  		color: #666;
  	}

  	&.seperator {
  		font-weight: bold;
  		font-size: 14px;
  		padding: 22px 7px 4px;
  		border-bottom: 2px solid #ddd;
      color: #555;
      background: #f8f8f8;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1;
  	}
  }
}