$atblue: #273D52;
$lightblue: #FB6754;
$current-location: #3498db; 
$green: #27ae60;
$navsize: 56px;
$mobilenavsize: 56px;
$root-card-bar: 56px;
$default-back: #f8f8f8;
$big-offset: 32px;
$sidebar-width: 350px;
$standard-shadow: 0 0 4px rgba(0,0,0,0.4);