.vehicle-location-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;

    .CircleMarker {
      fill-opacity: 1;
      fill: white;
      // stroke:  $lightblue;
      stroke-width: 3;
    }

    .material-header {
      height: $navsize;
      div {
        z-index: 10;
      }

      .line-name {
        line-height: $navsize; 
        padding-top: 0;
      }
    }
}

.line-pill {
  color: #fff;
  display: inline-block;
  border: 2px solid rgba(0,0,0,0.2);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  line-height: 1;
  padding: 3px;
  margin-right: 7px;
  font-weight: 600;
  background: #000;

  &:empty {
    visibility: hidden;
  }
}

.vehicle-location-map {
  position: relative;
  z-index: 8;
  height: calc(100vh - #{$mobilenavsize});
  height: calc(var(--real-height) - #{$mobilenavsize});

  .leaflet-container {
    height: 100%;
  }
}

.bigCurrentLocationCircle {
  stroke: none;
  //opacity: 0.15;
  fill: lighten($lightblue, 6);
}

.smallCurrentLocationCircle {
  fill-opacity: 1;
  fill: $lightblue;
  stroke: white;
  stroke-width: 2
}
.line {
  stroke-width: 5;
}

.vehIcon {
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  margin-top: -6px;
  box-shadow: 0 1px 2px rgba(#000, 0.4);
}
.hiddenIcon {
  opacity: 0;
  margin-top: -18px !important;
}