.vehicle-location-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background: #ddd;

  @media (min-width: 851px) {
    left: $sidebar-width;
    z-index: 1;
  }

    .CircleMarker {
      fill-opacity: 1;
      fill: white;
      // stroke:  $lightblue;
      stroke-width: 3;
    }

    .material-header {
      height: $navsize;
      div {
        z-index: 10;
      }

      .line-name {
        line-height: $navsize; 
        padding-top: 0;
        display: flex;
      }

      .selectWrapper {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      select {
        border: 0;
        background: transparent;
        color: $atblue;
        outline: 0;
        letter-spacing: -0.5px;
        font-weight: 600;
        width: 100%;
        margin-left: -4px;
      }
    }
}

.line-pill {
  color: #fff;
  display: inline-block;
  border: 2px solid rgba(0,0,0,0.2);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  line-height: 1;
  padding: 3px;
  margin-right: 7px;
  font-weight: 600;
  background: #000;

  &:empty {
    visibility: hidden;
  }

  &.cf {
    width: 16px;
    height: 16px;
    line-height: 16px;
    padding: 4px;
    border-color: transparent;
    font-weight: 600;
    border-radius: 50%;
    text-align: center;
    text-shadow: 0 0 0 #000;
    font-weight: 600;
    font-size: 0.9em;
  }
}

.vehicle-location-map {
  position: relative;
  z-index: 0;
  height: calc(100vh - #{$mobilenavsize});
  height: calc(var(--real-height) - #{$mobilenavsize});

  .leaflet-container {
    height: 100%;
  }
}

.bigCurrentLocationCircle {
  stroke: none;
  //opacity: 0.15;
  fill: lighten($lightblue, 6);
}

.smallCurrentLocationCircle {
  fill-opacity: 1;
  fill: $lightblue;
  stroke: white;
  stroke-width: 2
}
.line {
  stroke-width: 5;
}

.vehIcon {
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  margin-top: -6px;
  box-shadow: 0 1px 2px rgba(#000, 0.4);
}
.hiddenIcon {
  opacity: 0;
  margin-top: -18px !important;
}