.vehicle-location-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 7;
    background: white;
}

.vehicle-location-stops {
    ul {
        color: white;
    }

    div {
        border:1px solid white;
    }

}