@import "_normalize";
$atblue: #273D52;

html, body, #app {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.panes {
  display: flex;
  height: 100%;
}

@import "_navigation";
@import "_content";