@import "_normalize";
@import "_fonts";

$atblue: #273D52;
$lightblue: #3498db;
$green: #27ae60;
$navsize: 56px;
$mobilenavsize: 56px;
$root-card-bar: 56px;
$default-back: #f8f8f8;
$big-offset: 32px;
$sidebar-width: 350px;
$standard-shadow: 0 0 4px rgba(0,0,0,0.4);

body {
  --real-height: 100vh;
}

html, body, #app {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select:  none;
  background: #eee;
}

html, body, input, button {
  font-family: 'Open Sans', sans-serif;
}

.panes {
  height: 100%;
}

@import "_mixins";
@import "_buttons";
@import "_leaflet";
@import "_navigation";
@import "_root";
@import "_search";
@import "_content";
@import "_modal";
@import "_settings";
@import "_splash";
@import "_ios";
@import "_production";
@import "_lines";
@import "_veh_loc";
@import "_timetable";