@import "_normalize";
$atblue: #273D52;
$lightblue: #3498db;
$green: #27ae60;
$navsize: 56px;
$mobilenavsize: 56px;
$root-card-bar: 56px;
$default-back: #f8f8f8;
$big-offset: 32px;
$sidebar-width: 350px;

body {
  --real-height: 100vh;
}

html, body, #app {
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select:  none;
  background: #eee;
}

.panes {
  height: 100%;
}

noscript {
  padding: 15px;
  display: block;

  @media (max-width: 480px) {
    text-align: center;
  }
}

@import "_mixins";
@import "_leaflet";
@import "_navigation";
@import "_root";
@import "_search";
@import "_searchswitch";
@import "_content";
@import "_settings";
@import "_splash";
@import "_ios";
@import "_production";
@import "_lines";
@import "_veh_loc";
@import "_timetable";