{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "react-native-web"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": ">1% in AU and not IE 11"
      }
    ],
    "@babel/react",
    "airbnb"
  ]
}