extends layout.pug

block content
  h1 Stations
  p View realtime and stop time information.
  ul
    li 
      a(href="s/nz-akl") Auckland, New Zealand
    li 
      a(href="s/nz-wlg") Wellington, New Zealand
  a(href="/") &larr; Home