@keyframes showPin {
  0% {
    opacity: 0;
    transform: translate3d(0, 48px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes hidePin {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 48px, 0);
  }
}

.pincontainer {
  animation: showPin 300ms ease 1;
  padding: 25px;
  text-align: center;
  background: rgba($atblue, 0.95);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;

  @media (min-width: $desktop-threshold + 1) {
    left: $sidebar-width;
  }

  &.hide {
    animation: hidePin 300ms ease 1;
    opacity: 0;
  }

  .desktop {
    display: none;
  }

  @media (min-width: 481px) {
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }
  }

  a {
    color: lighten($lightblue, 15);
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }

  p {
    color: #fff;
    margin-bottom: 15px;
  }

  .ios-safari img {
    width: 16px;
    padding: 0 5px;
  }
  .android-chrome img {
    width: 16px;
  }
  input {
    outline: 0;
    border: 0;
    margin-bottom: 1em;
    min-width: 300px;
    padding: 11px 14px;
    border-radius: 3px;
  }
  button {
    color: white;
  }
  h3 {
    margin-top: 0;
    font-weight: 600;
  }
}
